body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: yellow;
    height: 100% ;
    display: grid;
    grid-template-rows: 9% 91%;
    grid-template-columns: 18% 82%;
}
.placement1{
    background-color: red;
    width: 100%;
    position: fixed;
    height: 9%;
}
.placement2{
    background-color: blue;
    width: 18%;
    position: fixed;
    top: 9%;
    height: 91%;
}
.placement3{
    background-color: maroon;
    width: 455.5%;
    position: relative;
    top: 98%;
    left: 100%;
}
.me{
    width: 50%;
    height: 50vh;
    background-color: aqua;
}